/* ___________________  General Properties Start  _____________________*/
.main-color{
    color:#ff305b;
}
hr {
    text-align: center;
    background-color: #ff305b;
    margin:3px auto;
}
.small-hr {
    width: 50px;
}
.large-hr {
    width: 100px;
}
/* _________ Width Clases Start Here _________  */

.w-5 {
    width: 5%;
    margin: auto;
}

.w-10 {
    width: 10%;
    margin: auto;
}

.w-15 {
    width: 15%;
    margin: auto;
}

.w-20 {
    width: 20%;
    margin: auto;
}

.w-30 {
    width: 30%;
    margin: auto;
}

.w-35 {
    width: 35%;
    margin: auto;
}

.w-40 {
    width: 40%;
    margin: auto;
}

.w-45 {
    width: 45%;
    margin: auto;
}

.w-55 {
    width: 55%;
    margin: auto;
}

.w-60 {
    width: 60%;
    margin: auto;
}

.w-65 {
    width: 65%;
    margin: auto;
}

.w-70 {
    width: 70%;
    margin: auto;
}

.w-80 {
    width: 80%;
    margin: auto;
}

.w-85 {
    width: 85%;
    margin: auto;
}

.w-90 {
    width: 90%;
    margin: auto;
}

.w-95 {
    width: 95%;
    margin: auto;
}

/* _________ Width Clases End Here _________ */

/* General Selectors  Start*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Source Sans Pro', sans-serif;
}
.clearfix{
    clear: both;
}
html
{
    scroll-behavior: smooth;
}
/* General Selectors  End */



/* Home  Start*/

.home{
    z-index: 1;
    background-color: rgba(0, 0, 0, 1);

    }
    
    .cover{
        z-index: -1;
        position: absolute;
        opacity: 0.2;
        width: 100%;
        top: 0;
        left: 0;
        background-image: url(../Images/slider-01.jpg);
        background-size: cover;
        height: 100vh;
        background-position: center center;
    }
    
    .navbar>a
    {
        font-size: 25px;
        font-weight: 700;
    }
    .navbar-nav .nav-item .nav-link
    {
    
        color: white;
    }
    .navbar-nav .nav-item .nav-link:hover
    {
    
        color: #d83319;
        transition: 0.5s all ease-in-out;
    }
    
    .navbar-toggler-icon{
        height: 20px;
        width: 20px;
    
    }
    
    .home-content
    {
        height: 80vh;
    }
    
    .home-content .content h1
    {
        color: #ff305b;
        font-size: 55px;
        font-weight: bold;
        text-transform: uppercase;
    
    }
  
    .home-content .content p
    {
        font-size: 20px;
    
    }
    .home .home-content .content p::after
{
content: "";
animation-name: letters-animation;
animation-duration: 10s;
animation-iteration-count: infinite;
color: #09c;
}

@keyframes letters-animation{
    3% {  
        content: "D |";
    }
    6% {  
        content: "De |";
    }
    9% {  
        content: "Dev |";
    }
    12% {  
        content: "Deve|";
    }
    15% {  
        content: "Devel |";
    }

    18% {  
        content: "Develo |";
    }

    21% {  
        content: "Develop |";
    }
    24% {  
        content: "Develope|";
    }
    27% {  
        content: "Developer |";
    }
    30% {  
        content: "Develope |";
    }
    33% {  
        content: "Develop |";
    }
    36% {  
        content: "Develo |";
    }
    39% {  
        content: "Devel |";
    }
    42% {  
        content: "Deve |";
    }

    45% {  
        content: "Dev |";
    }

    48% {  
        content: "De |";
    }
    51% {  
        content: "D |";
    }
    54% {  
        content: " |";
    }
    57% {  
        content: "D |";
    }
    60% {  
        content: "De |";
    }
    63% {  
        content: "Des |";
    }
    66% {  
        content: "Desi |";
    }
    69% {  
        content: "Desig |";
    }
    71% {  
        content: "Design |";
    }
    74% {  
        content: "Designe |";
    }
    77% {  
        content: "Designer |";
    }
    80% {  
        content: "Designe |";
    }
    83% {  
        content: "Design |";
    }
    86% {  
        content: "Desig |";
    }
    89% {  
        content: "Desi |";
    }
    91% {  
        content: "Des |";
    }
    93% {  
        content: "De |";
    }
    96% {  
        content: "D |";
    }
    99% {  
        content: "";
    }


    
}


    
    /* Home  End*/


    /* About US */



.bord{
    border: 10px #555555 solid;

    border-radius: 8px;

}

.profile-img{
    position: relative;
    top: 15px;
    left: 15px;
    width: 100%;



}
.profile-img img{

    width: 100%;



}
.tran{
    height: 0px;
    opacity: 0.5;
    position: absolute;
    bottom: 0px;
    left: 0;



    background-color: rgba(0, 0, 0, 0.5);
}
.profile-img:hover .tran{

    position: absolute;

    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.5s all ease-in-out;

}

.profile-cv p{
border-bottom: dashed 2px gray;
line-height: 35px;
}
.info li{
padding: 5px 0px;
}
.info ul{
    list-style: none;
    }
.info span{
    color: black;
    }

/*_____________________ Contacts Start ____________________________*/
.sec-8 button:hover{
    background:red;
}
.sec-8 button{
    background-color:#ff305b;
}
   .sec8 button:hover{
    background-color:red;

}
.sec-8 .name ,.sec-8 .email{
    width:48%;

}
.sec-8 h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    color:#333;
}


/*_____________________ Contacts End ____________________________*/


/*______________________ services section Start______________________*/
    .our-services{
    background-color: #f1f1f1;
    position: relative;
}
.our-services h2{
    font-size: 40px;
    font-weight: 800;
    color: #333;
    padding: 40px;
    padding-bottom: 10px;
}
h2::before{
    content: "";
    background-color: #ff305B;
    width:78px;
    height: 1.1px;
    position: absolute;
    top: 32%;
    right: 47%;
}
h2::after{
    content: "";
    background-color: #ff305B;
    width:200px;
    height: 1.1px;
    position: absolute;
    top: 33.5%;
    right: 43%;
}
.our-services i{
    color: #ff305B;
}


.our-services h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  padding: 20px 10px 5px;
}
.our-services p{
color: #555;
font-weight: 400;

}

.ui{
    transition: all 0.4s ease-in-out;
    padding: 10px;
}
.ui:hover{
    transform: scale(1.1);
    background-color: white;
    
    box-shadow: 0 0 20px 10px rgb(230, 223, 223);
    border-radius: 2px;
    
}


/*______________________ services section End______________________*/


/* Our Portfolio */

.our-portfolio
{
    background-color: #f1f1f1;

}
.our-portfolio a
{
color: black;
padding: 5px 10px;
text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;

}


.our-portfolio .transtion
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 1s;
}
.our-portfolio .transtion:hover
{
    background-color: rgba(0, 0, 0, 0.5);

    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 1s;
}

/* Site Footer */

footer{
    background-color: #333333;
    color: whitesmoke;

}

footer a img{
    opacity: 0.5;

}

footer a:hover img{
    opacity: 1;
    background-color: rgb(25, 75, 31);

}

footer p a:hover a{
    text-decoration: underline;
}

  
  .social-media a .fab:hover {


    color: #09c !important;
    transition: 0.5s all ease-in-out;
  }